/* Home */
* {
    font-weight: bold;
}
.main {
    margin-top: 0%;
}
.Card {
  text-align: center;
  margin: auto;
  padding: 10%;
  width: 50%;
  display: inline-block;
}
.imageCard{
    width: 50%;
    border-radius: 15px;
}
